<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sensor Fault Detection</title>
</head>

<body>
  <table id="table" border="1">
    <thead>
      <tr>
        <th>id</th>
        <th>temperature</th>
        <th>humidity</th>
        <th>loudness</th>
        <th>prediction</th>
        <th>anomaly score</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>

  <script>
    const url = "{{url}}"
    var id= 0

    async function get_simulation() {
      const response = await fetch(url + "/simulate");
      const data = await response.json();
      return data.simulated_data;
    }
    async function get_sensor_data(array) {
      const response = await fetch(url + '/sensors', {
        method: 'POST',
        headers: { 'Content-Type': 'application/json' },
        body: JSON.stringify({ sensor_data: array }),
      });
      const data = await response.json();
      return data.sensor_data;
    }

    const table = document.getElementById('table').getElementsByTagName('tbody')[0];

    async function loop() {
      const sim_data = await get_simulation();
      const {
        temperature,
        humidity,
        loudness,
        prediction,
        anomaly_score,
      } = await get_sensor_data(sim_data);

      <!-- const table_element = document.getElementById('data'); -->
      <!-- const list_item = document.createElement('li'); -->
      id+=1

      let row = table.insertRow();
      [id +"",temperature + " °C", humidity + '%', loudness + ' db', prediction, +(anomaly_score).toFixed(3)+'%'].forEach(c => {
        let cell = row.insertCell();
        cell.textContent = c;
      })

      <!-- list_item.innerText = JSON.stringify(anomaly_score, null, 2); -->
      <!-- table_element.appendChild(list_item); -->
    }

    setInterval(loop, 2000);

  </script>
</body>

</html>
